.grid-background {
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.brush .extent {
  stroke: #fff;
  fill: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.country-poly {
  stroke: #fff;
}
